.login-card {
  width: 100%;
  margin: auto;
  text-align: center;
  background: #001529;
  padding: 15px;
  position: absolute;
  height: 100%;
  border-top: 1px solid rgb(241 194 107);

  h4 {
    color: wheat;
  }

  input {
    width: 30%;
    border: none;
    color: wheat;
    background: transparent;
    border-bottom: 1px solid rgb(241 194 107);
    margin: 5px auto;
    caret-color: rgb(241 194 107);
  }

  input:focus {
    color: wheat;
    border-bottom: 1px solid rgb(241 194 107);
    box-shadow: 0 0 0 0;
  }

  input:hover {
    border-bottom: 1px solid rgb(241 194 107);
  }

  .label {
    display: block;
    color: wheat;
  }

  input:invalid {
    border: none;
    box-shadow: 1px 1px 3px 3px #fa2d2d;
    color: red;
  }

  button {
    width: 15%;
    display: block;
    background: transparent;
    border: 1px solid rgb(241 194 107);
    color: rgb(241 194 107);
    margin: 10px auto;
  }

  button:hover {
    color: rgb(241 194 107);
    background: transparent;
    border: 1px solid rgb(168 113 10);
    box-shadow: 0 0 3px 3px rgb(168 113 10);
  }

  button:focus {
    color: rgb(241 194 107);
    background: transparent;
    border: 1px solid rgb(168 113 10);
    box-shadow: 0 0 3px 3px rgb(168 113 10);
  }

  a {
    color: rgb(241 194 107);
  }

  a:hover {
    color: rgb(168 113 10);
  }
}
