.login-card {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  background: linear-gradient(transparent, #d2e7fc, transparent);
  padding: 15px;

  input {
    width: 30%;
    box-shadow: 1px 1px 3px 3px #61b3ff;
    margin: 5px auto;
  }

  .label {
    display: block;
  }

  input:invalid {
    box-shadow: 1px 1px 3px 3px #fa2d2d;
    color: red;
  }

  button {
    width: 15%;
    display: block;
    box-shadow: 1px 1px 3px 3px #61b3ff;
    margin: 10px auto;
  }
}
