@use '../../../App.scss' as shared;

.login-card {
  width: 100%;
  margin: auto;
  text-align: center;
  background: shared.$backgroundColor;
  padding: 15px;
  position: absolute;
  height: 100%;
  border-top: 1px solid shared.$deepColor;

  h4 {
    color: shared.$mainColor;
  }

  input {
    width: 30%;
    border: none;
    color: shared.$mainColor;
    background: transparent;
    border-bottom: 1px solid shared.$deepColor;
    margin: 5px auto;
    caret-color: shared.$deepColor;
  }

  input:focus {
    color: shared.$mainColor;
    border-bottom: 1px solid shared.$deepColor;
    box-shadow: 0 0 0 0;
  }

  input:hover {
    border-bottom: 1px solid shared.$deepColor;
  }

  .label {
    display: block;
    color: shared.$mainColor;
  }

  input:invalid {
    border: none;
    box-shadow: 1px 1px 3px 3px red;
    color: red;
  }

  button {
    width: 15%;
    display: block;
    background: transparent;
    border: 1px solid shared.$deepColor;
    color: shared.$deepColor;
    margin: 10px auto;
  }

  button:hover {
    color: shared.$titleColor;
    background: transparent;
    border: 1px solid shared.$deepColor;
    box-shadow: 0 0 3px 3px shared.$deepColor;
  }

  button:focus {
    color: shared.$titleColor;
    background: transparent;
    border: 1px solid shared.$deepColor;
    box-shadow: 0 0 3px 3px shared.$deepColor;
  }

  a {
    color: shared.$mainColor;
  }

  a:hover {
    color: shared.$deepColor;
  }
}
