.films-root {
  margin: 5px auto;
  padding: 15px;

  .search-sect {
    width: 100%;
    margin: 5px auto;
    padding: 5px;
  }

  .film-search {
    width: 25%;
  }

  label,
  input,
  button {
    margin: 5px;
    text-align: center;
  }

  .select-main {
    margin: 5px;
  }

  .film-main {
    width: 50%;
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
    display: flex;
  }

  .film-main div {
    width: 50%;
  }

  .film-sect {
    display: flex;
  }

  .img-table {
    width: 100%;
    padding: 10px;
  }

  .select-genre {
    display: block;
    width: 120px;
  }

  .label-search {
    display: block;
    margin: 5px;
  }

  .input-sect {
    width: 20%;
  }
}
