.filmsRoot {
  margin: 5px auto;
  padding: 15px;

  .searchSect {
    width: 100%;
    margin: 5px auto;
    padding: 5px;
  }

  .filmSearch {
    width: 25%;
  }

  label,
  input,
  button {
    margin: 5px;
    text-align: center;
  }

  .selectMain {
    margin: 5px;
  }

  .filmMain {
    width: 50%;
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
    display: flex;
  }

  .filmMain div {
    width: 50%;
  }

  .filmBackdrop {
    width: 80%;
  }

  .filmSect {
    display: flex;
  }

  .imgTable {
    width: 100%;
    padding: 10px;
  }

  .selectGenre {
    display: block;
    width: 120px;
  }
  .labelSearch {
    display: block;
    margin: 5px;
  }
  .inputSect {
    width: 20%;
  }
}
