.films-root {
  margin: 5px auto;

  .search-sect {
    width: 100%;
    margin: auto;
    display: flex;
    padding: 10px;
    background: linear-gradient(transparent, transparent, rgb(220 242 250));
  }

  .film-search {
    width: 25%;
  }

  input {
    width: 20%;
    margin: 5px;
    position: absolute;
    right: 0;
  }

  .img-root:hover {
    background: rgb(34 200 255);
  }

  .img-table {
    width: 100%;
    padding: 5px;
  }

  .img-table:hover {
    cursor: pointer;
  }

  .select-genre {
    width: 100px;
    margin: 5px;
  }

  .label-select {
    margin: 5px;
  }
}
