.home-root {
  .topRated {
    padding: 5px;

    .hrTop {
      width: 80%;
      border: 0 solid rgb(8, 8, 8);
      box-shadow: 0 0 1px 1px rgb(12, 12, 12);
    }

    .titleOne {
      width: 80%;
      margin: auto;
      padding: 5px;

      h2 {
        color: rgb(2, 134, 179);
      }
    }

    .carousel-top-rated {
      width: 80%;
      margin: auto;
      background: linear-gradient(transparent, transparent, transparent, rgb(179, 235, 253));
      border: 1px solid white;
      border-radius: 15px;

      .col-top-rated {
        padding: 10px;

        .col-top-rated-in {
          display: flex;
          justify-content: space-evenly;
          padding: 15px;

          .pattern {
            width: 15%;
            margin: 10px;

            img {
              width: 100%;
              border-radius: 15px;
              box-shadow: 0 0 3px 3px rgb(112, 222, 255);
            }
          }

          .main {
            width: 75%;
            margin: 10px;
            padding: 10px;

            hr {
              border: 0 solid rgb(48, 204, 252);
              box-shadow: 0 0 1px 1px rgb(112, 222, 255);
            }
          }
        }
      }
    }

    .titleTwo {
      width: 80%;
      margin: auto;
      padding: 5px;

      h2 {
        color: rgb(2, 134, 179);
      }
    }

    .carousel-upcoming {
      width: 80%;
      margin: auto;
      border: 1px solid white;
      border-radius: 15px;
      background: linear-gradient(rgb(179, 235, 253),transparent, transparent, transparent);

      .col-upcoming {
        padding: 10px;

        .col-upcoming-in {
          display: flex;
          justify-content: space-evenly;
          padding: 15px;

          .upcomingPattern {
            width: 15%;
            margin: 10px;

            img {
              width: 100%;
              border-radius: 15px;
              box-shadow: 0 0 3px 3px rgb(112, 222, 255);
            }
          }

          .upcomingMain {
            width: 75%;
            margin: 10px;
            padding: 10px;

            hr {
              border: 0 solid rgb(48, 204, 252);
              box-shadow: 0 0 1px 1px rgb(112, 222, 255);
            }
          }
        }
      }
    }
  }
}
