.title-one {
  width: 65%;
  margin: auto;
  padding: 10px;
  color: rgb(2 134 179);
}

.carousel-top-rated {
  width: auto;
  margin: auto;

  .row-top-rated {
    padding: 5px;

    .col-top-rated-in {
      width: 70%;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      padding: 15px;

      .pattern {
        width: 15%;
        margin: 10px;

        img {
          width: 100%;
          border-radius: 5px;
          box-shadow: 0 0 3px 3px #456a8b;
        }
      }

      .main {
        width: 75%;
        margin: 10px;
        padding: 10px;

        h2 {
          width: auto;
          color: black;
        }

        hr {
          border: none;
          box-shadow: 0 0 1px 1px #456a8b;
        }
      }
    }
  }
}
