@use '../../App.scss' as shared;

.menu-root {
  .menumain {
    .menuitemtext {
      color: shared.$mainColor;
    }

    li.login {
      position: absolute;
      right: 0;
      color: green;
    }

    li.logout {
      position: absolute;
      right: 0;
      color: red;
    }

    li.movies,
    li.home {
      color: shared.$deepColor;
    }

    li.home:hover {
      background: shared.$mainColor;
      color: shared.$deepColor;

      .menuitemtext {
        color: shared.$deepColor;
      }
    }

    li.movies:hover {
      background: shared.$mainColor;
      color: shared.$deepColor;

      .menuitemtext {
        color: shared.$deepColor;
      }
    }

    li.login:hover {
      background: shared.$mainColor;

      .menuitemtext {
        color: shared.$deepColor;
      }
    }

    li.logout:hover {
      background: shared.$mainColor;

      .menuitemtext {
        color: shared.$deepColor;
      }
    }
  }
}
