.home-main {
  background: url('https://cdn.wallpapersafari.com/64/48/Fqhvu2.jpg');

  hr {
    width: 100%;
    margin: auto;
    border: 0;
    box-shadow: 0 0 3px 3px lightblue;
  }

  .home-sect {
    text-align: center;
  }
}
