@use '../../../App.scss' as shared;

.root {
  .carousel-header {
    width: 100%;
    margin: auto;

    .carousel-section {
      .section-wrapper {
        position: relative;

        .section-background {
          width: 100%;
          height: 600px;
          position: relative;
          opacity: 0.2;
          z-index: 2;
        }

        .section-main {
          width: 100%;
          height: auto;
          padding: 30px;
          position: absolute;
          z-index: 2;
          top: 0;
          color: black;
          text-align: center;
          display: flex;
          justify-content: space-around;

          .img-sect {
            width: 20%;
            padding: 15px;

            img {
              border-radius: 5px;
              height: auto;
              box-shadow: 0 0 2px 2px;
            }
          }

          .about-sect {
            width: 70%;
            padding: 15px;
            text-align: left;
            color: shared.$mainColor;

            .title {
              padding: 15px;

              h2 {
                color: shared.$titleColor;
              }
            }

            .overview {
              padding: 15px;
              font-size: 17px;

              span {
                color: white;

                b {
                  color: shared.$mainColor;
                }
              }
            }

            .genres {
              padding: 15px;

              h5 {
                color: shared.$mainColor;
              }

              span:hover {
                color: shared.$mainColor;
                border: 1px solid shared.$mainColor;
                background: transparent;
                cursor: pointer;
              }
            }

            .buttons {
              padding: 15px;

              button {
                background: transparent;
                color: shared.$mainColor;
                border: 1px solid shared.$mainColor;
              }

              button:hover {
                color: shared.$deepColor;
                border: 1px solid shared.$deepColor;
              }
            }
          }
        }
      }
    }
  }
}
