@use '../../../App.scss' as shared;

.modal {
  button {
    border: 1px solid shared.$mainColor;
    background: transparent;
    color: shared.$mainColor;
  }

  button:hover {
    color: shared.$titleColor;
    border: 1px solid shared.$titleColor;
    cursor: pointer;
  }

  div {
    border: none;
    background: transparent;

    h3 {
      color: shared.$titleColor;
    }
  }

  div.titlemodal {
    color: shared.$mainColor;
  }
}

.films-root {
  margin: 5px auto;

  .search-sect {
    width: 100%;
    margin: auto;
    display: flex;
    padding: 10px;
    background: linear-gradient(transparent, rgb(240 240 240), rgb(240 240 240));
  }

  .film-search {
    width: 25%;
  }

  input {
    border: 1px solid shared.$deepColor;
    width: 20%;
    margin: 5px;
    position: absolute;
    right: 0;
  }

  input:focus {
    border: 1px solid shared.$deepColor;
    box-shadow: 0 0 2px 2px shared.$deepColor;
  }

  input:hover {
    border: 1px solid shared.$deepColor;
    box-shadow: 0 0 2px 2px shared.$deepColor;
  }

  .table-main th {
    color: shared.$titleColor;
    background: shared.$tableBackground;
    border-right: 1px solid shared.$deepColor;
  }

  .table-main td {
    border-bottom: 1px solid shared.$tableBackground;
  }

  .pattern-main {
    text-align: center;
  }

  .watchlater {
    width: 90%;
    margin: 5px;
    color: shared.$deepColor;
    border: 1px solid shared.$deepColor;
    box-shadow: 0 0 1px 1px shared.$deepColor;
  }

  .img-root:hover {
    border-radius: 15px;
    box-shadow: 0 0 1px 1px shared.$deepColor;
  }

  .img-table {
    width: 100%;
    border-radius: 15px;
    padding: 5px;
  }

  .img-table:hover {
    cursor: pointer;
  }

  .select-genre {
    width: 100px;
    margin: 5px;
    border: 1px solid shared.$deepColor;
    border-radius: 3px;
  }

  .select-genre:hover {
    border-radius: 5px;
    border: 1px solid shared.$deepColor;
    box-shadow: 0 0 2px 2px shared.$deepColor;
  }

  .select-genre::after {
    border-radius: 5px;
    border: 1px solid shared.$deepColor;
    box-shadow: 0 0 2px 2px shared.$deepColor;
  }

  .label-select {
    margin: 5px;
  }

  span.tag {
    color: shared.$deepColor;
    border: 1px solid shared.$deepColor;
    background: transparent;
  }

  span.tag:hover {
    color: shared.$deepColor;
    box-shadow: 0 0 1px 1px shared.$deepColor;
    border: 1px solid shared.$deepColor;
    cursor: pointer;
  }
}
