body {
  .login-root {
    padding: 10px;
    width: 50%;
    height: auto;
    margin: auto;
  }

  .login-card {
    width: 100%;
    text-align: center;
    background: linear-gradient(transparent, #c5e2fd, transparent);
  }

  .mailLabel,
  .passLabel {
    display: block;
  }

  .main-input-one {
    width: 70%;
    box-shadow: 1px 1px 3px 3px #61b3ff;
    margin: 5px auto;
  }

  .main-input-two {
    width: 70%;
    box-shadow: 1px 1px 3px 3px #61b3ff;
  }

  .log-btn {
    width: 35%;
    background-color: #c5e2fd;
    box-shadow: 1px 1px 2px 3px #61b3ff;
    margin: 10px;
  }

  .meta-two {
    text-decoration: underline;
  }

  .meta-two:hover {
    cursor: pointer;
  }
}
