.login-root {
  padding: 10px;
  width: 50%;
  margin: auto;
}
.login-root {
  .login-card {
    width: 100%;
    text-align: center;
    background-color: rgb(238, 248, 252);
  }
  .main-input-one {
    width: 70%;
    box-shadow: 1px 1px 3px 3px rgb(165, 231, 252);
  }
  .main-input-two {
    width: 70%;
    box-shadow: 1px 1px 3px 3px rgb(165, 231, 252);
  }
  .log-btn {
    width: 35%;
    background-color: rgb(184, 236, 252);
    box-shadow: 1px 1px 2px 3px rgb(148, 196, 211);
  }
  .meta-2 {
    text-decoration: underline;
  }
  .meta-2:hover {
    cursor: pointer;
  }
}
